@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model Dictionary<string, double>;*@
@model List<StockTrend>;
@{

    <div id="hidden-div-games">
        @{
            foreach (var item in Model)
            {
                <div style="display:none;">@item.StockName=@item.BuyAmount=@item.CurrentAmount</div>
            }
        }

    </div>

    <style>
        #chartdiv {
            width: 100%;
            height: 300px;
        }

        .card-contest {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 5px;
            background-color: #ffd800;
            margin: auto;
            width: 95%;
            margin-bottom: 5px;
            color: black;
            cursor: no-drop;
            text-align: center;
        }

        .container {
            padding: 2px 16px;
        }

        .header {
            padding: 5px;
            text-align: center;
            background: #1abc9c;
            color: white;
            font-size: 30px;
            margin-top: -4%;
        }

        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 3px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ddd;
            }

            #customers th {
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: left;
                background-color: #0069d9;
                color: white;
            }

        .table-class {
            margin-top: 20px;
            padding: 5px;
        }

        #contBtn {
            position: relative;
            top: 1.5em;
            font-size: 1.6em;
            text-decoration: none;
            background: #8bc34ad6;
            color: #fff;
            margin: auto;
            padding: .8em 3em;
            -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
            -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
            box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
            border-radius: 25px;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
        }

            #contBtn:hover {
                -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
                -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
                box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                -o-transition: all .4s ease;
                transition: all .4s ease;
            }
    </style>

    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>


    <script>
        am5.ready(function () {

            var data = [];

            var hiddenDiv = $("#hidden-div-games");

            $('#hidden-div-games').children('div').each(function () {
                var item = this.innerHTML.split('=');
                var Stock = item[0];
                var BuyPrice = item[1];
                var CurrentPrice = item[2];

                var obj = { "Stock": Stock, "BuyPrice": BuyPrice, "CurrentPrice": CurrentPrice };
                data.push(obj);
            });
            // Create root element
            // https://www.amcharts.com/docs/v5/getting-started/#Root_element
            var root = am5.Root.new("chartdiv");

            // Set themes
            // https://www.amcharts.com/docs/v5/concepts/themes/
            root.setThemes([
                am5themes_Animated.new(root)
            ]);

            // Create chart
            // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
            // start and end angle must be set both for chart and series
            var chart = root.container.children.push(am5percent.PieChart.new(root, {
                layout: root.verticalLayout,
                innerRadius: am5.percent(40)
            }));

            // Create series
            // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
            // start and end angle must be set both for chart and series
            var series0 = chart.series.push(am5percent.PieSeries.new(root, {
                valueField: "BuyPrice",
                categoryField: "Stock",
                alignLabels: false
            }));

            var bgColor = root.interfaceColors.get("background");

            series0.ticks.template.setAll({ forceHidden: true });
            series0.labels.template.setAll({ forceHidden: true });
            series0.slices.template.setAll({
                stroke: bgColor,
                strokeWidth: 2,
                tooltipText:
                    "{category}: {valuePercentTotal.formatNumber('0.00')}% ({value} BuyPrice)"
            });
            series0.slices.template.states.create("hover", { scale: 0.95 });

            var series1 = chart.series.push(am5percent.PieSeries.new(root, {
                valueField: "CurrentPrice",
                categoryField: "Stock",
                alignLabels: true
            }));

            series1.slices.template.setAll({
                stroke: bgColor,
                strokeWidth: 2,
                tooltipText:
                    "{category}: {valuePercentTotal.formatNumber('0.00')}% ({value} CurrentPrice)"
            });
            // Set data
            // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
            series0.data.setAll(data);
            series1.data.setAll(data);

            // Play initial series animation
            // https://www.amcharts.com/docs/v5/concepts/animations/#Animation_of_series
            series0.appear(1000, 100);
            series1.appear(1000, 100);

        }); // end am5.ready()
    </script>

    <div class="header">
        <h5><b> @ViewBag.UserID </b></h5>
        <div class="row-div">
            <p>@ViewBag.ContestDate @ViewBag.ContestMonth</p>
        </div>
    </div>

    <div class="form-row table-class">
        <table id="customers">
            <tr>
                <th>StockName</th>
                <th>Quantity</th>
                <th>Buy Amount</th>
                <th>Current Amount</th>
                <th>Profit</th>
            </tr>
            @{

                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.StockName</td>
                        <td>@item.Quantity</td>
                        <td>@item.BuyAmount</td>
                        <td>@item.CurrentAmount</td>
                        @{
                            if (item.Profit >= 0)
                            {
                                <td style="color:green;"> @item.Profit </td>
                            }
                            else
                            {
                                <td style="color:red;"> @item.Profit </td>
                            }
                        }
                    </tr>
                }
            }
        </table>
    </div>

    <!-- HTML -->
    <div id="chartdiv"></div>

    <div class="text-center"><a id="contBtn" href="/">Continue</a></div>
}
